.wrapper {
    height: 420px;
    border-radius: 6px;
 
    background-image: url("https://images.pexels.com/photos/2168238/pexels-photo-2168238.jpeg?auto=compress&cs=tinysrgb&w=800");
    background: linear-gradient(to right, rgba(44,124,241,1), rgba(0,209,255,0.5)), url("https://images.pexels.com/photos/2168238/pexels-photo-2168238.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 31px 44px 40px;
    color: white;
    font-family: var(--font-primary);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}

.heading {
font-size: 32px;
width: 440px;
font-weight: 600;
margin-bottom: 13px;
}

.lead {
    font-size: 16px;
    width: 390px;
    line-height: 24px;

}

.formWrapper {
    background-color: white;
    width: 491px;
    border-radius: 6px;
    overflow: hidden;
}

.form {
    padding: 25px 20px
}

.form > * + * {
    margin-top: 20px;
}

.btnWrapper {
    width: 128px;
}