.cardWrapper {
    background-color: var(--color-one);
    padding: 16px 24px 40px 16px;
    width: 100%;
    color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
}

.cardWrapper[data-size="small"] {
    padding-bottom: 12px;
    padding-top: 14px;
}
.cardWrapper[data-variant="secondary"] {
    background-color: var(--color-two);
}

.cardWrapper[data-variant="primary"] {
    background-color: var(--color-three);
}