.cardWrapper {
    background-color: var(--color-one);
    padding: 16px 24px 44px 16px;
    width: 100%;
    color: white;
    font-family: 'Inter', sans-serif;
}

.cardWrapper[data-variant="secondary"] {
    background-color: var(--color-two);
}

.cardWrapper[data-variant="primary"] {
    background-color: var(--color-three);
}