:root {
    --color-one: #E3F0FF;
    --color-two: #F38332;
    --color-three: #55BDC3;
    --color-four: #E5F1FF;
    --gray-one: #DEE2E7;
    --dark: #1C1C1C;
    --white: #fff;
    --font-primary: "inter";
}